# 源用taobao：https://registry.npmmirror.com/  npm官方：https://registry.npmjs.org/
registry=https://registry.npmjs.org/

# 默认false，设置true之后自动安装peers依赖
# auto-install-peers=true

# 防止使用不支持 Node.js 版本的，版本看package.json的engines
engine-strict=true

# 默认false, 设置为true之后，依赖包扁平化，就npm一样机制
shamefully-hoist=true

# 默认true，false-不需要严格的 `peerDependencies`依赖链
strict-peer-dependencies=false

# 默认true，true-使用且缓存 (pre/post)install 钩子的结果。
side-effects-cache=true

# 默认false，设置true之后，pnpm 将使用类 bash shell 的 JavaScript 实现来执行脚本
# {
#   "scripts": {
#     "test": "NODE_ENV=test node test.js"
#   }
# }
# 上面脚本将在非 POSIX 兼容系统上失败，但是设置true之后，就可以了
shell-emulator=true
