.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}
@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
pre {
    background: #23241f !important;
}
code[class*='language-'] {
    color: #fff;
}
img {
    border: 5px solid #ddd;
    padding: 5px;
    /* background: #fff; */
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
}